@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #ADD8E6;
}

a:link {
     color: #ADD8E6;
}
a:visited {
     color: #ADD8E6;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
	margin: 0 auto;
}
.homePage {
	background: #A69981;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #7188A6;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #D5E2F2;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFDFA;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #F2E8D6;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
